*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{
    text-align: center;
}
.tabuleiro {
    width: 402px;
    height: 400px;
    margin: 0 auto;
    background-color: lightgrey;
    display: flex;
    flex-wrap: wrap;
    border: 1px solid lightgrey;
}

.casa {
    width: 50px;
    height: 50px;
    background-color: white;
    border: 1px solid black;
}

.preto {
    background-color: black;
}